.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }

  .imgux {
    display: flex;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
  }