.accordion-container-div {
  display: block;
}

.accordion-container-flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;   
  }
}

.accordion-container {
  gap: 16px;
}

.img-container {
  width: 100%;
}

.text-title {
  display: none;
}

@media (min-width: 768px) {
  .text-title {
    display: block;
  }
  
  .accordion-container {
    grid-template-columns: 1fr; /* 1 coluna no desktop */
  }

  .accordion-container-div {
    display: flex;
  }
}

.lock-icon {
  width: 100%;
  max-width: 16px; /* ou o tamanho que você quiser */
  height: auto;
  object-fit: contain;
}

.responsive-img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: contain;
}
