.title {
    font-family: var(--font-primary);
    line-height: 1.4;

    &.one {
      font-weight: 600; 
      font-size: clamp(3.75rem, 5vw,5rem); 
      color: var(--gray-800);
    }

    &.subtitle{
        color: var(--gray-50);
        font-size: clamp(1.5625rem, 4vw, 1.875rem);
    }
  
}

.paragraph{
    font-family: var(--font-primary);
    line-height: 1.4;

    &.one{
        font-weight: 500;
        font-size: clamp(12px, 4vw, 16px);
        color: var(--gray-100);
    }

    &.links{
        font-weight: 400;
        line-height: 150%;
        font-size: clamp(12px, 3vw, 16px);
        color: var(--gray-50);;
    }

    &.menus {
        font-weight: 600;
        font-size: clamp(11x, 4vw, 14px);
        color: var(--gray-50);

    }

    &.menus.active{
        font-weight: 700;
        color: #384255;
    }
}