.title {
    font-family: var(--font-primary);
    line-height: 1.4;

    &.one {
      font-weight: 600; 
      font-size: clamp(40px, 5vw, 5.625rem); 
      color: var(--gray-800);
    }

    &.two{
        font-weight: 700;
        font-size: clamp(30px,3vw, 48px);
        line-height: 150%;
    }

    &.four{
        font-weight: 600;
        color: var(--gray-200);
        font-size: clamp(30px, 4vw, 36px);
    }

    &.biggest{
        font-weight: 600;
        color: var(--gray-800);
        font-size: clamp(3rem, 27vw, 250px); 
        line-height: 150%;
    }

    &.subtitle{
        color: var(--gray-50);
        font-size: clamp(1.5625rem, 4vw, 1.875rem);
    }
  
}

.paragraph{
    font-family: var(--font-primary);
    line-height: 1.4;

    &.biggest{
        font-weight: 400;
        color: var(--gray-50);
        font-size: clamp(22px,5vw,32px);
    }

    &.one{
        font-weight: 500;
        font-size: clamp(12px, 4vw, 16px);
        color: var(--gray-100);
    }

    &.two{
        font-weight: 400;
        font-size: clamp(9px, 3vw, 16px);
        color: var(--gray-100);
    }

    &.three{
        font-weight: 400;
        font-size: clamp(9px, 3vw, 14px);
        color: var(--gray-100);
    }

    &.four {
        font-weight: 600;
        font-size: clamp(12px, 4vw, 16px);
        color: var(--gray-100);

    }

    &.five {
        font-weight: 300;
        font-size: clamp(12px, 4vw, 16px);
        line-height: 150%;
        color: var(--gray-100);
        font-style: italic;
    }

    &.six {
        font-weight: 600;
        font-size: clamp(11px, 4vw, 15px);
        color: var(--gray-500);

    }

    &.seven{
        font-weight: 500;
        font-size: clamp(11px, 4vw, 14px);
        color: var(--gray-500);
    }

    &.links{
        font-weight: 400;
        line-height: 150%;
        font-size: clamp(12px, 3vw, 16px);
        color: var(--gray-50);;
    }

    &.menus {
        font-weight: 600;
        font-size: clamp(11x, 4vw, 14px);
        color: var(--gray-50);

    }

    &.menus.active{
        font-weight: 700;
        color: #384255;
    }
}