.section{
    h2{
        margin-bottom: 20px;
    }

    hr{
        border-bottom: 1px solid var(--gray-50);
        margin-bottom: 20px;
    }
    .flexbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .list > h4{
        margin-top: 10px;
        padding-right: 27px;
        margin-bottom: 10px;
    }
    .list ul {
        padding-left: 10px;
    }

    @media(max-width: 734px) {
        .flexbox {
            flex-direction: column;
        }
      }

}




