.footer{
    padding: 1.5rem;

    .flexbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 18px;
        align-items: center;
    }

    @media(max-width: 725px) {
        .flexbox{
            flex-direction: column;
            gap: 25px;

            p{
                white-space: nowrap;
                font-size: clamp(10px, 3vw, 16px);
            }
        }
    }


}