.section {
    margin-top: 30px;

    .flexbox{
      display: flex;
      flex-direction: row;
      align-items:flex-end;
      position: relative;


    h2{
      position: absolute;
      top:22%;
      right: 55%;
      
    }

    @media (max-width: 960px) {
      flex-direction: column-reverse;
      gap: 30px;
      align-items: center;
      justify-content: center;

      h2 {
        position: static; 
    
      }
    }


    }

    
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      span {
        background-color: #f1f1f1;
        padding: 6px 12px;
        border-radius: 6px;
        white-space: nowrap;
        margin-bottom: 18px;
      }



     
    }

    svg {
      transition: transform 0.2s ease;
    }

    &:hover {
      color: var(--primary-color);

      svg {
        transform: translateX(3px);
      }
    }

    .caseStudyLink{
      span:hover{
        text-decoration: underline;
      }
    }

    .content{

      .divCaseStudyLink{
        display: flex;
        justify-content: flex-end;

        
      }
      p{
        margin-bottom: 15px;
      }
    }
  }