.section {
    margin-top: 80px;
   
    .flexbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      position: relative;
    
      h2{
        top: -5%;
        left: 37.5%;
        position: absolute;
      }


      @media (max-width: 960px) {
        flex-direction: column;
        gap: 30px;
  
        h2 {
          position: static; // remove absoluto no mobile
          // margin: 0;
          // font-size: clamp(2rem, 6vw, 3rem);
          // text-align: left;
          // width: 100%;
          // padding: 0 20px;
        }
      }
    }
    
  
    .imageWrapper {
      flex: 1;
      max-width: 700px;
      width: 100%;
  
      .bgImage {
        // width: 1300px;
        // height: 542px;
        opacity: 0.85;
      }
  
    }
  
    .content {
      // flex: 1;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      
  
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
  
        span {
          background-color: #f1f1f1;
          padding: 6px 12px;
          border-radius: 6px;
          white-space: nowrap;
        }
      }
  
      .caseStudyLink {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        color: var(--gray-900);
        text-decoration: none;

        span:hover{
          text-decoration: underline;
      }

  
        svg {
          transition: transform 0.2s ease;
        }
  
        &:hover {
          color: var(--primary-color);
  
          svg {
            transform: translateX(3px);
          }
        }
      }
  
      @media (max-width: 1024px) {
        align-items: center;
        text-align: center;
      }
    }
  }
  